body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  margin: 0;
  background-color: #191919;
  color: white;
}

html,body {
  width:100vw;
  height: 100vh;
  margin: 0;
}

#videoBG {
  position:fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG { 
      width:auto;
      height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
      display: none;
  }
  body {
      background: url('../images/header.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
}

h1 {
  font-size: 30px;
  padding-bottom: 40px;
}

.about {
    text-align: center
}

.content {
  background: #191919;
}

/* ---------------------------------- NAVBAD ----------------- */
.top-spacer {
  width: 100%;
  height: 100vh;
  margin-bottom: -60px;
}

.top-spacer img {
  padding-top: 3%;
  height: 80%;
  margin: 0 auto;
  display: block;
}

.nav-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

nav {
  height: 60px;
  background-color: #333;
  width: 100%;
  margin: 0;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .2s;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 3px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

ul.topnav li {
  list-style: none;
}

ul.topnav li a {
  font-size: 22px;
  text-decoration: none;
  padding: 14px;
  color: white;
}

.topnav-left, .topnav-right {
  width: 150px;
}

.topnav-right i {
  padding-left: 10px;
}

.topnav-right a {
  color: white;
  text-decoration: none;
}

.info-container {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.info {
  text-align: center;
  max-width: 900px;
  line-height: 1.5;
  font-size: 20px;
}

.band-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.band-image-container {
  padding-left: 50px;
  padding-right: 50px;
}

.gig-container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 20px;
}

.gig-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

.gig-container hr {
  border: solid  rgb(44, 44, 53) 1px;
}

.gig-container h1 {
  display: flex;
  justify-content: center;
}

.gig-date {
  flex-basis: 120px;
}

.gig-title {
  flex-grow: 1;
}

.gig-location {
 flex-basis: 150px;
}

.gig-link {
  flex-basis: 100px;
  text-align: center;
  padding: 10px; 
  border: 1px solid white;
}

.gig-link a {
  text-decoration: none;
  color: white;
}

.section-spacer {
  height: 150px;
}

.player-container {
  max-width: 100%;
}

.player {
  margin: 0 auto;
  display: block;
}

.contact {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.contact a {
  padding-top: 10px;
  font-size: 15pt;
  text-decoration: none;
  color: white;
}


audio {
  display:none;
  }
 
  .playlistItem {
  }

  .playlist {
    margin: 0 auto;
    width: 80%;
    display: block;
  }

  .playlist li {
    list-style: none;
  }

  .playlistTitle {
    display: inline-block;
    width: 80%;
  }

  .playlistNumber {
    display: inline-block;
    width: 25px;
  }

  .playlistLength {
    float: right;
  }

