html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

@media (max-width: 500px) {
  html {
    --scroll-behavior: auto;
    scroll-behavior: auto;
  }
}

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  margin: 0;
  background-color: #191919;
  color: white;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#videoBG {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #videoBG {
    display: none;
  }

  body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url('../images/header.png') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

h1 {
  font-size: 30px;
  padding-bottom: 40px;
}

h2 {
  font-size: 23px;
}

.about {
  text-align: center
}

.content {
  background: #191919;
}

.music {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

/* ---------------------------------- NAVBAD ----------------- */
.top-spacer {
  width: 100%;
  height: 100vh;
  margin-bottom: -60px;
}

.top-spacer img {
  padding-top: 3%;
  height: 80%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 500px) {
  .top-spacer {
    height: 70vh;
  }

  .top-spacer img {
    width: auto;
    height: 60vh;
  }
}

.nav-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

nav {
  height: 60px;
  background-color: #333;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .2s;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 3px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

ul.topnav li {
  list-style: none;
}

ul.topnav li a {
  font-size: 22px;
  text-decoration: none;
  padding: 14px;
  color: white;
}

.topnav-left,
.topnav-right {
  width: 150px;
}

.topnav-right img {
  padding-left: 10px;
}

.topnav-right a {
  color: white;
  text-decoration: none;
}

#toggle {
  display: none;
}

label {
  display: none;
}

@media (max-width: 600px) {

  .topnav-left,
  .topnav-right {
    width: 0px;
  }

  ul.topnav li {
    background: #333;
    width: 100%;
    display: none;
  }

  nav {
    display: block;
    height: 47px;
  }

  nav ul {
    display: block;
  }

  label {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 28px;
  }

  .topnav-right {
    display: none;
  }

  #toggle:checked + ul.topnav li {
    display: block;
  }
}

.info-container {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.info {
  text-align: center;
  max-width: 900px;
  line-height: 1.5;
  font-size: 20px;
}

.band-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.band-image-container {
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 500px) {
  .band-image-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.gig-container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 20px;
}

#upcoming-gigs {
  padding-bottom: 30px;
}

#songkick {
  margin-top: 30px;
  text-align: right;
}

#songkick img {  
  width: 80px;
}

.gig-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

@media (max-width: 600px) {
  .gig-row {
    display: block;
    text-align: center;
    line-height: 40px;
  }
}

.gig-container hr {
  border: solid rgb(44, 44, 53) 1px;
}

.gig-container h1,
h2 {
  display: flex;
  justify-content: center;
}

.gig-date {
  flex-basis: 120px;
}

.gig-past {
  color: #999;
}

.gig-title {
  flex-grow: 1;
}

.gig-canceled {
  flex-grow: 1;
}

.gig-canceled-badge {
  background-color: #f80046;
  border-radius: 3px;
  border-style:none;
  border-width:0px;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
  margin-right: 20px;
}


@media (max-width: 600px) {
  .gig-canceled-badge {
    display: inline;
    float: none;
    margin-right: 0px;
  }
}


/* .gig-canceled-badge {
  background-color: #f80046;
  border-radius: 3px;
  border-style:none;
  border-width:0px;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
} */


.gig-location {
  flex-basis: 150px;
}

@media (max-width: 600px) {
  .gig-location {
    margin-bottom: 10px;
  }
}

.gig-link {
  flex-basis: 100px;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  max-width: 180px;
  margin: 0 auto;
}

.gig-link a {
  text-decoration: none;
  color: white;
}

.section-spacer {
  height: 150px;
}

@media (max-width: 500px) {
  .section-spacer {
    height: 70px;
  }
}

.contact {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.contact a {
  padding-top: 10px;
  font-size: 15pt;
  text-decoration: none;
  color: white;
}

.contact a img {
  margin: 50px 20px 0px 20px;
}

.playerContainer {
  width: 80%;
  max-width: 900px;
  margin: 0px auto;
}

.playerContainer img {
  width: 230px;
  height: 230px;
  margin: 20px 20px 30px 20px;
}

.album-cover {
  box-shadow: 0 0 15px #111;
}

.playlistContainer {
  background: #222;
  width: 100%;
}

.player-header {
  background: #222;
  display: flex;
}


.player-divider {
  height: 1px;
  background: #444;
  margin: 0px 20px;
}

.album-title {
  font-size: 30px;
  text-align: left;
  margin-top: 20px;
}

.artist {
  font-size: 15px;
  text-align: left;
  color: #999;
}

.album-info {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
  color: #999;
}

.streaming-buttons {
  margin: 30px 0px;
}

.streaming-buttons img {
  width: 50px;
  height: 50px;
  margin: 0px 15px 0px 0px;
}

.player-controls {
  margin: auto auto;
}

.player-controls img {
  width: 80px;
  height: 80px;
  margin: 0px;
}

#playlist {
  font-size: 18px;
  text-align: left;
  list-style: none;
  margin-left: -40px;
  margin-top: 0px;
  padding-top: 15px;
}

#playlist li {
  padding: 10px;
  display: flex;
}

#playlist li:hover {
  background: #333;
}

#playlist li a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  text-align: left;
}

.current-song {
  background: #333;
}

.current-song div {
  color: cornflowerblue;
}

.current-song a {
  color: cornflowerblue !important;
}

.song-title {
  flex-grow: 1;
  color: red;
}

.song-length {
  flex-basis: 50px;
  text-align: right;
  margin-right: 20px;
  color: #999;
}

@media (max-width: 830px) {
  .player-header {
    display: block;
  }

  .album-title {
    margin-top: 0px;
    text-align: center;
  }

  .artist {
    text-align: center;
  }

  .album-info {
    text-align: center;
  }

  .player-controls {
    padding-bottom: 30px;
  }

  .player-controls img {
    width: 60px;
    height: 60px;
  }
  
}

@media (max-width: 500px) {
  #playlist li a {
    margin-left: 0px;
  }
}

.imprint {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.imprint a {
  text-decoration: none;
  color: #666;
}

#audio {
  visibility: hidden;
}

.cta {
  text-align: center;
  margin: 20px;
}

.cta a {
  text-decoration: none;
  display: inline-block;
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.video-container img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 900px;
}

.video-container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 20px;
}

.video-container h1 {
  display: flex;
  justify-content: center;
}

.video-spacer {
  height: 20px;
}

#loading-screen {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}

#loading-screen.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #666;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
